/* style all elements in the <body> */
body {
    font-family: sans-serif;
    vertical-align: center;
    background-color: lightblue;
    border-style: hidden;
}

/* style all the buttons in a page */
button {
    width: 120px;
    text-align: center;
    right: 1000px;
    background-color: tan;
    padding: 5px 5px;
    text-decoration: deepskyblue;
    display: inline-block;
    font-size: 16px;
}

/* style the element with the id “myId” */
#myId {
    color: yellow;
}

/*style all elements with the class “fontLarge” */
.fontLarge{
    font-size: 14px;
}

/* style all p elements with the class “center” */
p.center {
    text-align: center;
    color: black;
}
p {
    font-family: Stencil;
    color: navy;
    font-size: x-large;

}

/* style all h1, h2 and p elements */
h1, h2, p {
    text-align: center;
    text-weight: bold;
}

table {
    text-align: center;
    border-style: none;
    background-color: mistyrose;
}

#finalGrade{
    font-family:Dialog;
    font-size: xx-large;
    text-align: center;
    text: 70px;
}
#percentage{
    font-family: Dialog;
    font-size: xx-large;
    text-align: center;
}
h3{
    text-align: center;

}
#finalGradeNeeded{
    font-family: Dialog;
    font-size: xx-large;
    text-align: center;
}
#homework,#homeworkWeight,#classwork,#classworkWeight,#participation,#participationWeight,#assessment,#assessmentWeight,
#gradeDesired,#finalWeight{
    border-color: deepskyblue;
}
/*animation for colors*/
@keyframes example {
    0%   {background-color: lightcoral;}
    25%  {background-color: cornflowerblue;}
    30%  {background-color: mediumturquoise;}
    40%  {background-color: lightgreen;}
    50%  {background-color: lightskyblue;}
    75%  {background-color: lightblue}
    80%  {background-color: burlywood}
    100% {background-color: salmon;}
}

 /*Applying the animation to whatever name is called  - ie:body- */
body{
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}